{% extends 'base.html.twig' %}

{% block title %}Manage Account!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <img src="{{ app.user.robohash }}" class="img-responsive" />
        </div>
    </div>
{% endblock %}
